{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2><b>Регистрация</b></h2>
            <form method="post" action="/register" name="register" id="register">
                <input type="text" placeholder="Введите логин" class="form-control" name="new_login" id="new_login"><br>
                <input type="text" placeholder="Введите пароль" class="form-control" name="new_password"
                       id="new_password"><br>
                <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                <br>
            </form>
        </div>

        <div class="col-md-6">
            <h2><b>Вход</b></h2>
            <form method="post" action="/sing-in" name="sing-in" id="sing-in">
                <input type="text" placeholder="Введите логин" class="form-control" name="old_login" id="old_login"><br>
                <input type="text" placeholder="Введите пароль" class="form-control" name="old_password"
                       id="old_password"><br>
                <button type="submit" class="btn btn-success">Войти</button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
