{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="alert alert-info">
        <h2><b>Вход</b></h2>
        <form method="post" action="/sing-in" name="sing-in" id="sing-in">
            <input type="text" placeholder="Введите логин" class="form-control" name="old_login" id="old_login"><br>
            <input type="password" placeholder="Введите пароль" class="form-control" name="old_password"
                   id="old_password"><br>
            <button type="submit" class="btn btn-success">Войти</button>
            <br>
        </form>
    </div>
</div>
{% endblock %}
