{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="alert alert-info">
        <h2><b>Регистрация</b></h2>
        <form method="post" action="/register" name="register" id="register">
            <input type="text" placeholder="Введите логин" class="form-control" name="new_login" id="new_login"><br>
            <input type="password" placeholder="Введите пароль" class="form-control" name="new_password"
                   id="new_password"><br>
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            <br>
        </form>
    </div>
</div>
{% endblock %}
